*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	min-width: 320px;
}
.container{
	display: inline-block;
	width: 100%;
}
.container_inner{
	display: block;
	max-width: 1260px;
	margin:0 auto;
	position: relative;
}
.first{
	background-image: url("../img/first/bg.png");
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
}
.head{
	display: inline-block;
	width: 100%;
	line-height: 70px;
	background-color: rgba(86,83,76,0.6);
}
header{
	display: block;
	max-width: 1260px;
	height: 70px;
	margin:0 auto;
	text-align: center;
}
.logo{
	font-family: SCRIPTIN;
	display: inline-block;
	position: relative;
	font-size: 24px;
	color: #fff;
	text-decoration: none;
	vertical-align: middle;
	float: left;
}
.logo:hover{
	color:#FFFF00
}
.main_menu{
	display: inline-block;
	text-align: center;
	width: 83%;
}
#menu_main a:hover{
	color: #FFFF00;
}
#our_menu:hover{
	background-color: rgba(86,83,76,1.2);
}
#font:hover{
	color: #FFFF00;
}
ul{
	font-family: Alegreya-Regular;
	font-size: 13px;
	text-transform: uppercase;
	display: inline-block;
	list-style: none;
	width: inherit;
	text-align: center;
}
li{
	color: #fff;
	display: inline-block;
	position: relative;
	margin-left: 3%;
}
li>a{
	text-decoration: none;
	color: #fff;
}
li>span{
	font-size: 20px;
	cursor: default;
    -webkit-user-select: none;
    /* user-select -- это нестандартное свойство */
    -moz-user-select: none;
    /* поэтому нужны префиксы */
    -ms-user-select: none;
}
.fonts{
	display: inline-block;
	font-size: 20px;
	color: #fff;
	float: right;	
}
.fonts ul > li{
	display: inline-block;
	margin-left: 15px;
	text-align: right;
}
.fa-bars{
	color: #fff;
	font-size: 20px;
}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before{
	display: none;
} 
.content{
	display: block;
	text-align: center;
	overflow: hidden;
}
#main_title{
	display: inline-block;
	position: relative;
	font-family: PlayfairDisplay-Bold;
	color: #fff;
	font-size: 50pt;
	margin-top: 130px;
	text-shadow: 2px 1px 2px #3d3029;
}
.lines{
	display: block;
	width: 220px;
	margin: 35px auto;
}
#dashesline{
	display: block;
	position: relative;
	width: 210px;
	height: 2px;
}
#dashesline:after{
	content: " ";
	display: block;
	position: absolute;
	top: 10px;
	width: 190px;
	height: 20px;
	background-image: url("../img/first/dashed line.png");
	background-repeat: no-repeat;
}
#words{
	font-family: Proxima Nova Regular;
	font-size: 15px;
	display: block;
	position: relative;
	margin-top: 60px;
	color: #fff;
	word-spacing: 5px;
	text-shadow: 2px 1px 2px #3d3029;
}
#our_menu {
	display: inline-block;
	margin-top: 50px;
	width: 190px;
	line-height: 50px;
	font-family: Alegreya-Bold ;
	font-size: 15px;
	border:2px dashed rgba(86,83,76,0.7);
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: rgba(86,83,76,0.6);
	color: #fff;
	vertical-align: middle;
	word-spacing: 5px;
	margin-bottom: 100px;
}
.for_bul{
	display: block;
	position: relative;
	height: 10px;
	width: 100%;
	box-shadow:0 20px 5px -3px #000; 
}
.bullets{
	display: block;
	position: absolute;
	right: 0;
	left: 0;
	top: -20px;
	height: 70px;
	width: 70px;
	border-radius: 70px;
	border:2px solid #fff;
	margin: 0 auto;
	margin-bottom: 0;
	background-color: #fff;
	box-shadow: 1px 11px 8px 0px #000;
}
#bul{
	display: block;
	position: relative;
	margin:10px auto;
}
.vector{
	display: block;
	position: absolute;
	height: 100px;
	width: 100px;
	right: 0;
	left: 0;
	margin: -35px auto;
}
.second{
	background-image: url("../img/second/bg.png");
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 10px;
}
.left_part{
	display: inline-block;
	width: 48%;
	text-align: center;
}
.art{
	font-family: Alegreya-Bold;
	font-size: 60px;
	color: #56534c;
	display: block;
	margin-top: 90px;
}
.art:after{
	content: "we create delicious memories";
	text-transform: uppercase;
	display: block;
	font-size: 20px;
	color: #a47d5e;
}
.art_1{
	font-family: Proxima Nova Regular;
	font-size: 17px;
	color: #615e58;
	display: block;
	margin: 70px auto;
	width: 80%;

}
.art_2{
	font-family: Alegreya-Bold;
	font-size: 30px;
	color: #77756f;
	display: block;
	margin-top: 50px;
}
.ava{
	display: block;
	width: 55%;
	margin: 0 auto;
	position: relative;
	margin-bottom: 100px;
}
.art_3{
	display: inline-block;
	font-size: 30px;
	margin-top: 50px;
	font-family: Alegreya-Bold;
	color: #615e58;
	border-top: 2px solid #d7d5ca;
	border-bottom: 2px solid #d7d5ca;
	width: 96px;
	line-height: 70px;
	vertical-align: middle;
	float: left;
}
.art_3_1{
	display: inline-block;
	font-size: 30px;
	margin-top: 50px;
	font-family: Alegreya-Bold;
	color: #615e58;
	border-top: 2px solid #d7d5ca;
	border-bottom: 2px solid #d7d5ca;
	width: 100px;
	line-height: 70px;
	vertical-align: middle;
	float: right;
}
#avatar{
	display: inline-block;
	position: relative;
	left: 0;
	right: 0;
	top: 28px;
	bottom: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
.art_4{
	display: block;
	font-size: 30px;
	margin-top: 40px;
	font-family: SCRIPTIN;
	color: #bc9f88;
	width: 100%;
	line-height: 30px;
	bottom: 0;
}
.right_part{
	display: inline-block;
	width: 51%;
	position: relative;
}
.top_img{
	margin-top: 140px;
}
.object{
	display: block;
	position: absolute;
	width: auto;
	height: auto;
	opacity: 0.9;
	top: 40%;
	right: 30%;
}
.art_5{
	display: block;
	position: absolute;
	top: 30%;
	color: #c9b176;
	font-family: Alegreya-Bold;
	font-size: 35px;
	text-align: center;
	right: 20%;
}
.right_part img{
	max-width: 100%;
	max-height: 100%;
}
.third{
	background-image: url("../img/third/placeholder.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}
.food_widget{
	display: flex;
	position: relative;
	width: 70%;
	margin: 150px auto;
	max-height: 500px;
}
.left{
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;  
	z-index: 0;
}
.h3{
	display: block;
	position: absolute;
	font-family: Alegreya-Bold;
	color: #56534c;
	top:40px;
	text-align: center;
	font-size: 40px;
	line-height: 15px;
	right: 10%;
	opacity: 0;
}
#food{
	display: block;
	max-height: 100%;
	margin-left: -40%;
	max-width: 100%;
}
.right{
	display: block;
	height: 100%;
	width: 55%;
	background-color: #fff;
	position: absolute;
	right: 0;
	top: 0;
}
#wind{
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50%;
}
.food_menu {
	display: block;
	margin-top: 100px;
	margin-left: 45px;
	width: 72%;
}
.food_menu .h1{
	font-family: Alegreya-Bold;
	color: #56534c;
	text-align: center;
	font-size: 40px;
	line-height: 15px;
}
.food_menu .h2{
	font-family: Alegreya-Bold;
	font-size: 20px;
	text-transform: uppercase;
	color: #bca089
}
.discription{
	margin-top: 25px;
	font-family: Proxima Nova Regular;
	font-size: 14px;
}
.menu_hide{
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: #fff;
	left: -100%;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
#hide{
	line-height: 40px;
	margin-top: 5px;
	margin-left: 15px;
	font-size: 30px;
	transform: rotate(90deg);
	color: rgba(216,187,163,0.4); 
}
#hide:hover{
	color: rgba(216,187,163,1);
	cursor: default; 
}
#tim{
	max-width: 100%;
	max-height: 100%;
}
.time{
	display: block;
	position: absolute;
	background-image: url(../img/third/time.png);
	top: -80px;
	right: -85px;
	width: 240px;
	height: 240px; 
	box-shadow: -5px 6px 30px 12px ; 
	font-family: Alegreya-Bold ;
	text-align: center;
	overflow: hidden;
}
.for_time1{
	display: block;
	text-transform: uppercase;
	font-size: 30px;
	color: #a47d5e;
	width: 100%;
	margin-top: 30px;
}
.for_time2{
	font-size: 80px;
	color:#dfc691;
}
.for_time3{
	font-size: 20px;
	color:#979285;
	margin-bottom: 30px;
}
.stars{
	display: block;
	position: absolute;
	top: 30%;
	left: 40px;
}
.stars li{
	display: block;
	font-size: 25px;
	cursor: default;
}
.fourth{
	background: url("../img/fourth/placeholder.png") no-repeat 50%;
	background-size: cover;
	font-family: ALegreya-Bold;
	margin-top: -10px;
}
.left4_part{
	font-family: Alegreya-Bold;
	display: inline-block;
	width: 60%;
	margin-top: 60px;
	text-align: center;
}
.titlee{
	display: block;
	margin-left: 100px;
}
.break{
	color: #fff;
	font-size: 60px;
}
.time4{
	color: #c8a593;
	display: block;
	font-size: 25px;
	margin-bottom: -120px;
}
.components{
	font-size: 30px;
	color: #fff;
	display: block;
	margin-top: 200px;
}
.components_inner{
	font-family: Proxima Nova Regular;
	color: #a4a3a1;
	font-size: 20px;	
}
.price{
	font-size: 30px;
	color: #dfc691;
}
.right4_part{
	display: inline-block;
	width: 35%;
	margin-top: 110px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
}
.menu4{
	display: inline-block;
	width: 100%;
	background-color: #f3f1e9;
	position: absolute;
	right: 6%;
	z-index: 999;
}
.m4{
	font-family: ALegreya-Bold;
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	display: inline-block;
	z-index: 100;
}
.rt{
	margin-left: 40%;
}
.borderr{
	display: block;
	position: relative;
	width: 96%;
	height: 97%;
	margin: 2%;
	border:2px dashed #9e9c93;
}
.forHead{
	display: block;
	width: 90%;
	line-height: 60px;
	left: 0;
	right: 0;
	margin: 0 auto;
	vertical-align: middle;
	text-align: end;
}
.forHead:before{
	content: "";
    position: absolute;
    left: 20px;
    top: 115px;
    right: 20px;
    height: 2px;
    background: #c2beba;
    width: 89%;
    z-index: 1;
}

.circle_left{
	display: inline-block;
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 13px;
	margin-top: 22px;
	left: 20px;
	border:1px solid #c2beba;
	background-color: #f3f1e9;
	z-index: 50;
}
.circle_right{
	display: inline-block;
	position: absolute;
	margin-top: 22px;
	right: 20px;
	width: 13px;
	height: 13px;
	border-radius: 13px;
	border:1px solid #c2beba;
	background-color: #f3f1e9;
	z-index: 50;
}

.circle_center{
	display: inline-block;
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	border:1px solid #c2beba;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: #f3f1e9;
	z-index: 50;
}
.circle_center img{
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.menuAfter{
	display: block;
	width: 80%;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.menuAfte_inn{
	display: block;
	margin-top: 50px;
	color: #56534c; 
	font-size: 40px;
}
.menuAfter_inn_content{
	display: block;
	font-family: Proxima Nova Regular;
	font-size: 15px;
	margin-top: 50px;
}
#read{
	display: inline-block;
	margin:50px 0 50px;
	color: #a47d5e;
	line-height: 40px;
	width: 150px;
	border:1px solid #a47d5e;
	text-decoration: none;	
}
#read:hover{
	background-color: rgba(206,187,168,0.6);
}
.menu4_2{
	display: inline-block;
	width: 100%;
	background-color: #f3f1e9;
	position: absolute;
	right: 3%;
	margin-top: 4%;
	z-index: 4;
	opacity: 0.9;
}
.menu4_3{
	display: inline-block;
	width: 100%;
	background-color: #f3f1e9;
	position: relative;
	right: 0%;
	margin-top: 8%;
	z-index: 1;
	opacity: 0.8;
}
.five{
	background-color: #f3f1e9;
}
.header_five{
	display: block;
	text-align: center;
	font-family: Alegreya-Bold;	
	margin-top: 75px;
	font-size: 0;
	overflow: hidden;
}
.header_five1{
	font-size: 60px;
	color: #56534c;
	display: block;
	line-height: 50px;
}
.header_five2{
	font-size: 20px;
	text-transform: uppercase;
	color: #a47d5e;
	display: block;
}
.header_five img{
	display: block;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
	margin: -65px auto;
    width: 90px;
    height: 90px;
}
.lft{
	display: inline-block;
	width: 30%;
	font-family: Alegreya-Bold;	
	text-align: center;
}
.lf_content{
	display: block;
	margin-top: 50px;
}
.lf_content_head{
	display: block;
	font-size: 30px;
	color: #a47d5e;
}
.lf_content_p{
	display: block;
	font-size: 23px;
	color: #56534c;
}
.rit{
	display: inline-block;
	width: 68%;
	height: 100%;
	position: absolute;
	right: 0;
	text-align: center;
}
.for_img{
	display: block;
	position: absolute;
	text-align: left;
	top: 250px;
	right: 0;
	width: 100%;
	height: 600px;
	background-color: #fff;
}

.for_img img{
	display: block;
	right: 0;
	left: 0;
	margin:2% auto;
	width: 96%;
	height: 96%;
}
#full_recipe{
	display: inline-block;
	background-color: #fff;
	position: relative;
	text-align: center;
    margin-left: -20px;
    margin-top: -40px;
	color: #dfc691;
	line-height: 50px;
	width: 200px;
	border:1px dotted #dfc691;
	text-decoration: none;	
}
#full_recipe:hover{
	background-color: rgba(229,209,167,0.5);
}
footer{
	display: block;
	text-align: center;
	max-width: 1260px;
	line-height: 100px;
	left: 0;
	right: 0;
	margin: 70px auto;
}
#foot{
	display: inline-block;
	position: relative;
	width: 40%;
	color: #97958a;
	font-size: 20px;
	text-align: center;
	border-top: 1px solid #c2beba;
	border-bottom: 1px solid #c2beba;
}
#foot li{
	color: #97958a;
}
#foot li>a:hover{
	color: #FFFF00;
}
#foot a{
	color: #97958a;
	margin-left: 20px;
}
.logo_in_footer{
	display: inline-block;
	width: 18%;
	color: #97958a;
	font-size: 50px;
	text-align: center;
	float: none;
}
.time_for_img{
	display: block;
	position: absolute;
	text-align: center;
	top: -8%;
	right: 0;
	width: 240px;
	height: 240px;
	background-color: rgba(255,255,255,0.7);
}
.two{
	top: 33%;
}
.free{
	box-shadow: none;
	top: 72%;
	right: 0;
}