*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	min-width: 320px;
}

		/*container*/
.container{
	display:inline-block;
	width: 100%;

}

.first{
	background-image: url("../img/Header/1.png");
	background-repeat: no-repeat;	
	background-size: cover;
	background-position: 50%;
}

.container-inner{
	display:block;
	max-width: 1200px;
	max-height: 810px;
	margin:0 auto;
}

#header{
	display: inline-block;
	width: 100%;
	line-height: 120px;
}

		/*logo*/

.logo{
	font-family: OpenSans Extrabold;
	font-size: 53px;
	text-decoration: none;
	color:#eeb501;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-bottom:20px;
	line-height: 60px;
	padding-left: 60px;
}

.logo > span{
	color:#ffffff;
}


.logo:after{
	display: block;
	font-family: OpenSans Bold;
	content: "tagline here";
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 0;
}


		/*navigation*/
.navigation{
	font-family: OpenSans Extrabold;
	display: inline-block;
	font-size: 20px;
	text-transform: uppercase;
	float: right;
    margin-right: 45px;
}
i:hover{
	color: gray;
}
.button:hover{
	background-color: grey;
}
}
#menu_bar{
	display: inline-block;
}
ul{
	display: inline-block;
	vertical-align: middle;
}
.navigation > ul > li{
	display: inline-block;
	margin-left: 15px;
}

.navigation > ul > li a{
	text-decoration: none;
	color: #fff;
}
.navigation > ul > li a:hover{
	color: grey;
}
.searchbox{
	display: inline-block;
	margin-left: 30px;
}
.searchbox input#search{
	display: none;
	width: 20%;
	height: 50px;
	background: #2b303b;
	border: none;
	position: absolute;
	font-size: 15px;
	top: 80px;
	left: 60%;
	color: #63717f;
	padding-left: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.navigation .searchbox .icon{
	display: inline-block;
	font-size: 25px;
	color: #fff;
}


.navigation .bar{
	display: none;
	font-size: 25px;
	color: #fff;
	margin-left: 70px;
}


	/*content*/
.content{
	display: inline-block;
	width: 100%;
	height: inherit;
	position: relative;
}

.copy{
	display: inline-block;
	position: relative;
	top: 40px;
	color: #fff;
	text-align: right;
	font-family: OpenSans Extrabold;
	float: right;
	margin-right: 20px;
	padding-bottom: 10%;
}

.copy p{
	font-family: OpenSans;
	word-spacing: 10px;
	font-size: 20px;
}
.big1 {
	font-size: 68px;
	color: #fff;
}

.copy .big2{
	font-size: 140px;
	color: #eeb501;
}

.copy .big3{
	line-height: 100px;
	font-size: 66px;
	color: #fff;
}
.icon_top{
	position: fixed;
	display: none;
	width: 40px;
	height: 40px;
	top: 80%;
	right:5%;
	background: url("../img/icon_top.png") no-repeat;
}


		/*man*/
.man{
	display: inline-block;
	position: absolute;	
	width: 70%;
	height: 70%;
	right: 50%;
	margin-top: 30px;
	float: left;
}

.but1{
	display:inline-block;
	margin-top: 77px;
	margin-right: 20px;
}

.button {
	font-family: OpenSans Bold;
	display:inline-block;
	line-height: 50px;
	width: 200px;
	border: 2px solid #fff;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	color: #fff;
	
}

		/*second*/

.container-innersec{
	display:block;
	max-width: 1200px;
	height: auto;
	margin:0 auto;
}

.second{
	background-image: url("../img/second/1.png");
	background-repeat: no-repeat;	
	background-size: cover;
}

.cont{
	margin-top: 65px;
	text-align: right;
}


		/*Second navig*/
.navig{
	font-family: OpenSans Extrabold;
	display: inline-block;
	text-align: left;
	margin-top: 100px;
	float: left;
}

.nav1{
	font-size: 44px;
	color: #333;
}

.nav2{
	font-size: 65px;
	color: #fff;
	background-color:#eeb501;
	padding-right: 50px;
	
}


		/*services*/
.services{
	display: inline-block;
	padding-bottom: 112px;
}

.services-first{
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 50% 0;
	width: 320px;
	text-align: center;
}

.services .fon{
	display: inline-block;
	width: 100px;
	height: 100px;
	position: relative;
}

.serv{
	display: inline-block;
	max-width: 760px;
}
.fon i{
	display: inline-block;
	font-size: 40px;
	color: #fff;
	width: 40px;
	height: 40px;
	padding-top: 25px;
	position: absolute;
	left:30px;
}

.copy1{
	display: inline-block;
	width: 320px;
	text-align: center;
	color: #1e0404;
}
.sp{
	font-size: 25px;
	font-family: OpenSans Bold;
}

.copy1 p{
	font-size: 15px;
	font-family: OpenSans;
}

				/*Third*/
.third{
	background-image: url("../img/third/1.png");
	background-repeat: no-repeat;	
	background-size: cover;
	background-position: 50%;
}

.thirdcont{	
	margin-top: 100px;
	text-align: center;
}


.headd{
	color: #fff;
	text-align: center;
}

.her{
	font-family: OpenSans-Italic;
	font-size: 29px;
}
.awes{
	font-family: OpenSans Extrabold;
	font-size: 43px;
}
.lor{
	font-family: OpenSans;
	font-size: 20px;
}

.kartinki{
	display: inline-block;
	width: 100%;
	margin-top: 60px;
	text-align: center;
}

.th1{
	display:inline-block;
	float: left;
}

.th23{
	display:inline-block;
	float: right;
}

.th2{
	display:inline-block;
	word-spacing: 15px;
	padding-bottom: 1%;
}

.th3{
	display:block;
}


.but2{
	display:block;
	padding-top: 40px;	
	padding-bottom: 51px;
}
		/*fourth*/

.fourth{
	background-image: url("../img/fourth/1.png");
	background-repeat: no-repeat;	
	background-size: cover;
	background-position: 50%;
}
.fourthcont{
	width: 100%;
	text-align: center;

}
.col{
	color: #504545;
}

.ka{
	font-family: OpenSans Extrabold;
	font-size: 50px;
	color: #eeb501;
}

.kartinki li{
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 125px;
}

.kartinki  li:last-child{
	margin-right: 0;
}

.kartinki  li:nth-child(2n+1){
	padding-top: 88px;
}
.kartinki  li:nth-child(2n){
	vertical-align: top;
}

		/*five*/

.five{
	background-image: url("../img/five/1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;

}
.fiv{
	color: #fff;
}
#slider{
	width: 90%;
	color: #fff;
	padding-bottom: 100px;
	height: 500px;
	position: relative;
	margin: 0 auto;
}
#slider p{
	font-family: OpenSans-Italic;
	font-size: 25px;
	color: #fff;
	padding-top: 150px;
}
.client{
	display: inline-block;
}
.client img{
	display: block;
	margin: 0 auto;
	max-width: 80%;
}
.comm .os{
	float: left;
	font-size: 192px;
}
.right{
	float: right;
	font-size: 192px;
}
#slider > input{
	display: none;
}

#inner{
	width: 300%;
}
.comm{
	float: left;
	width: 33.3%;
}
#overflow{
	overflow: hidden;
}
#controls{
	position: absolute;
	width: 100%;
	top: 250px;
	left: 0;
	height: 50px;
}

#controls label{
	display: none;
	cursor: pointer;
	opacity: 0.3;
}

#controls label:hover{opacity: 0.8;}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(1){
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 20px solid #fff;
	border-bottom: 20px solid transparent;
	float: right;
	margin-right: -40px;
	display: block;
}

#slide1:checked ~ #controls label:nth-child(3),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2){
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-right: 20px solid #fff;
	border-bottom: 20px solid transparent;
	float: left;
	margin-left : -40px;
	display: block;
}

#slide1:checked ~ #slides #inner {margin-left: 0;}
#slide2:checked ~ #slides #inner {margin-left: -100%;}
#slide3:checked ~ #slides #inner {margin-left: -200%;}

#active {
	text-align: center;
	margin-top: 10px;
}

#active label {
	width: 15px;
	height:10px;
	background: #ccc;
	display: inline-block;
	cursor: pointer;
	border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
}

#active label:hover{background:#999;}

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3)
{ background: #000;}

#slides .inner {
	transition: all 2s ease-in-out;
}

		/*six*/
.six{
	background-image: url("../img/six/Background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}
table{
	padding-top: 52px;
	padding-bottom: 50px;
	width: 100%;
	border-collapse: collapse;
	margin-top: 60px
}

td:nth-child(1),td:nth-child(2),td:nth-child(3){
	border-right: 2px solid #a3a3a3;	
}
.Table_tr2 > td{
	border-top: 2px solid #a3a3a3;
}

			/*seven*/
.seven{
	background-image: url("../img/seven/Background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}
.mapp{
	display: inline-block;
	width: 100%;
	margin-top: 40px;
}

form{
	padding-top: 60px;
	width: 100%;
	font-family: OpenSans;
}
input{
	background-color: #2e2e2e;
	padding-left: 25px;
	line-height: 56px;
	border:none;
	outline: none;
}
.name ,.email ,.phone{
	width: 30%;
	margin-right: 20px;
	margin-top: 25px;
}
.name{
	float: left;
}
.phone{
	float: right;
	margin-right: 0;
}
.message{
	margin-top: 25px;
	float: left;
	width: 80%;
}
.subm{
	font-family: OpenSans Bold;
	margin-top: 25px;
	color: #fff;
	background: 0;
	width: 146px;
	float: right;
	padding-left: 0;
	opacity: 0.4;
	border: 1px solid #fff;
}

.subm:hover{
	opacity: 1;
}
.seve{
	margin-top: 50px;
	list-style: none;
	display: inline-block;
	height: 60px;
	width: 100%;
	padding: 0;
}

.seve > li{
	display: inline-block;
	position: relative;
	margin-right: 25px;
}
.adres{
	display: inline-block;
	width: 100%;
	margin-top: 50px;
	line-height: 25px;
}

.ie{
	font-size: 30px !important;
	color: #fff;
	display: inline-block;
	position: absolute;
	margin-top: 13px;
	margin-left: -43px;
}
form input{
	border-radius: 10px;
	height: 60px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
footer{
	margin-top: 50px;
	display: inline-block;
	width: 100%;
	border-top: 3px solid #eeb501;
}

.lorr{
	font-family: OpenSans;
	font-size: 20px;
}
footer > span{
	display: inline-block;
	padding-top: 50px;
	padding-bottom: 50px;
}
